<div class="contents-new">
  <div class="container-new">
    <h1>入力してください</h1>
    <%= form_with(model: @photo, local: true) do |form| %>
      <%= form.file_field :image %>
      <%= form.text_field :name, placeholder: "作品名" %><br>
      <%= form.text_area :text, placeholder: "作品説明文", rows: "10" %><br>
      <%= form.submit "投稿する" %>
    <% end %>
  </div>
</div>
