<!DOCTYPE html>
<html>
  <head>
    <title>Sample2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="heading">
        <h1 class="title">記念すべき第一号</h1>
      </div>
      <div class="navbar">
      <% if user_signed_in? %>
        <ul class="nav-lists">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <%= link_to "投稿する", new_photo_path, class: "post" %>
        </ul>
      <% else %>
        <ul class="nav-lists">
          <%= link_to "ログイン", new_user_session_path, class: "post" %>
          <%= link_to "新規登録", new_user_registration_path, class: "post" %>
      <% end %>    
      </div>
    </header>
    <%= yield %>
  </body>
</html>
