<!DOCTYPE html>
<html>
  <head>
    <title>Sample2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="heading">
        <h1 class="title">記念すべき第一号</h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <li>新規登録</li>
          <li>ログイン</li>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
